.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin: auto auto;
    margin-top: 10px;
}

.login-form input{
    outline: none;
    margin-top: 5px;
    height: 40px;
    font-size: 20px;
}

.login-form button{
    width: 400px;
    margin-top: 5px;
    align-self: center;
    background-color: #EF8103;
    height: 30px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: none;
}

.login-form button:hover{
    background-color: lightgray;
}